[metadata]
name = KCWIKit
version = dev
author = Nikolaus Prusinski, Yuguang Chen, Zhuyun Zhuang
author_email = 
description = Toolkit for the Keck Cosmic Web Imager
long_description =
license = MIT
url = https://github.com/yuguangchen1/KcwiKit.git
edit_on_github = False
github_project = yuguangchen1/KcwiKit
